\aadatasets*
\kitti_label*
\rawROSbagdata*
\oldscripts*
\cdatasets*
\camera_calid.npz
\3Doutput*
\Kitti*
\logs*
\tar*
\weights*
\training*
\finalbig.v1i.yolov8*
\finalbig.v1i.yolov11*
\v3i.yolov8*
\v3i.yolov11*
\logs*
\output*
\v3i.yolov8.tar.gz
\v3i.yolov11.tar.gz
\build*
\devel*
\results*