<launch>
  <!-- Launch USB Camera -->
  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="log">
    <param name="video_device" value="/dev/video0"/>
    <!-- Change with new-dataset (if needed) -->
    <param name="image_width" value="640"/>     
    <param name="image_height" value="320"/>

    <param name="pixel_format" value="yuyv"/>
    <param name="camera_frame_id" value="usb_cam"/>
  </node>

  <!-- Launch 2D YOLO Detection Node -->
  <node pkg="yolomous" type="2D_node.py" name="node2D" output="screen">
  </node>
</launch>